.divHeader {
    background-color: lawngreen;
    height: 100px;

}

.divFooter {
    background-color: lawngreen;
    height: 100px;
}

body {
    height: 500px;
}

.highlights {
    height: 500px;
}

.search {
    margin-left: 70%;
}

.divHeader > button {
    horiz-align: right;
}

button {
    border: none;
    background: none;
}

.divHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: none;
}

.divHeader li {
    float: left;
}

.divHeader li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.best li, .new li, li {
    display: inline;
}

.new a, .best a, a {
    display: block;
    padding: 8px;
    background: none;
}

.whatsNew {
    border: 1px solid dimgrey;
    width: 40%;
}

.best {
    border: 1px solid dimgrey;
    width: 40%;
}

